.custom-checkbox {
  @include custom-checkbox;

  &__field {
    &:focus {
      outline: none;
    }
  }

  &__content {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--color-white);

    @include mobile {
      font-size: 10px;
    }

    &::before {
      width: 14px;
      height: 14px;
      border-color: var(--color-white);

      @include mobile {
        top: 3px;
      }
    }

    &::after {
      width: 14px;
      height: 14px;
      background-image: url(../img/check.svg);

      @include mobile {
        top: 3px;
      }
    }
  }
}
