.footer {
  background-color: var(--color-light-black);
  transform: translateY(-1px);

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;

    @include small-tablet {
      flex-direction: column;
    }

    @include mobile {
      padding-top: 44px;
      padding-bottom: 44px;
    }
  }

  &__left {
    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__right {
    &-list {
      column-count: 3;
      column-gap: 109px;

      @include mobile {
        column-count: 2;
      }
    }

    &-item {
      margin-bottom: 20px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: var(--color-white);
      transition: color .2s ease-in-out;

      @include mobile {
        font-size: 12px;
      }

      &::after {
        content: '';
        position: absolute;
        top: -2px;
        right: -6px;
        bottom: -2px;
        left: -6px;
        background-color: var(--color-primary-light);
        z-index: -1;
        opacity: 0;
        transition: opacity .2s ease-in-out;
      }

      &.focus-visible {
        outline: none;
        color: var(--color-white);

        &::after {
          opacity: 1;
        }
      }

      @include hover {
        color: var(--color-primary-light);
      }

      &:active {
        color: var(--color-primary);
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: url(../img/footer-wave.svg);
    background-repeat: repeat-x;
    background-position: top;

    &-content {
      font-weight: 400;
      font-size: 16px;
      line-height: 103.34%;
      color: var(--color-text-gray);

      @include mobile {
        font-size: 12px;
      }
    }
  }
}
