<section class="guests">
  <div class="container guests__container">
    <h2 class="section-title guests__title">Гости</h2>
    <span class="guests__subtitle">У нас бывают:</span>
    <p class="guests__descr">
      Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!
    </p>
    <div class="guests__content">
      <div class="guests__accordion">
        <details class="accordion" open>
          <summary class="btn-reset accordion__control accordion__control-border">
            <span class="accordion__title">Блогеры</span>
            <span class="accordion__button">
              <svg class="accordion__icon">
                <use xlink:href="img/sprite.svg#accordion-arrow"></use>
              </svg>
            </span>
          </summary>
          <div class="accordion__content">
            <ul class="accordion__content-list list-reset">
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="1">Сергей Денисов</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="2">Матвей Мечников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="3">Константин Прусино</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="4">Иван Калитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="5">Евгений Войновский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn accordion__content-btn--active" data-path="6">Ольга Мартынова</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="7">Дмитрий Михалюк</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="8">Пётр Пиотровский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="9">Олег Свиридовский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="10">Владислав Кауперс</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="11">Михаил Пожитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="12">Георгий Полуян</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="13">Денис Тельман</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="14">Юрий Горин</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="15">Максим Сергеев</button>
              </li>
            </ul>
          </div>
        </details>
        <details class="accordion">
          <summary class="btn-reset accordion__control">
            <span class="accordion__title">Арт-критики</span>
            <span class="accordion__button">
              <svg class="accordion__icon">
                <use xlink:href="img/sprite.svg#accordion-arrow"></use>
              </svg>
            </span>
          </summary>
          <div class="accordion__content">
            <ul class="accordion__content-list list-reset">
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="1">Сергей Денисов</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="2">Матвей Мечников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="3">Константин Прусино</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="4">Иван Калитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="5">Евгений Войновский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn accordion__content-btn--active" data-path="6">Ольга Мартынова</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="7">Дмитрий Михалюк</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="8">Пётр Пиотровский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="9">Олег Свиридовский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="10">Владислав Кауперс</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="11">Михаил Пожитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="12">Георгий Полуян</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="13">Денис Тельман</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="14">Юрий Горин</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="15">Максим Сергеев</button>
              </li>
            </ul>
          </div>
        </details>
        <details class="accordion">
          <summary class="btn-reset accordion__control">
            <span class="accordion__title">Художники</span>
            <span class="accordion__button">
              <svg class="accordion__icon">
                <use xlink:href="img/sprite.svg#accordion-arrow"></use>
              </svg>
            </span>
          </summary>
          <div class="accordion__content">
            <ul class="accordion__content-list list-reset">
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="1">Сергей Денисов</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="2">Матвей Мечников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="3">Константин Прусино</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="4">Иван Калитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="5">Евгений Войновский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn accordion__content-btn--active" data-path="6">Ольга Мартынова</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="7">Дмитрий Михалюк</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="8">Пётр Пиотровский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="9">Олег Свиридовский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="10">Владислав Кауперс</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="11">Михаил Пожитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="12">Георгий Полуян</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="13">Денис Тельман</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="14">Юрий Горин</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="15">Максим Сергеев</button>
              </li>
            </ul>
          </div>
        </details>
        <details class="accordion">
          <summary class="btn-reset accordion__control">
            <span class="accordion__title">Люди науки</span>
            <span class="accordion__button">
              <svg class="accordion__icon">
                <use xlink:href="img/sprite.svg#accordion-arrow"></use>
              </svg>
            </span>
          </summary>
          <div class="accordion__content">
            <ul class="accordion__content-list list-reset">
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="1">Сергей Денисов</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="2">Матвей Мечников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="3">Константин Прусино</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="4">Иван Калитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="5">Евгений Войновский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn accordion__content-btn--active" data-path="6">Ольга Мартынова</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="7">Дмитрий Михалюк</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="8">Пётр Пиотровский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="9">Олег Свиридовский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="10">Владислав Кауперс</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="11">Михаил Пожитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="12">Георгий Полуян</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="13">Денис Тельман</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="14">Юрий Горин</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="15">Максим Сергеев</button>
              </li>
            </ul>
          </div>
        </details>
        <details class="accordion">
          <summary class="btn-reset accordion__control">
            <span class="accordion__title">Историки</span>
            <span class="accordion__button">
              <svg class="accordion__icon">
                <use xlink:href="img/sprite.svg#accordion-arrow"></use>
              </svg>
            </span>
          </summary>
          <div class="accordion__content">
            <ul class="accordion__content-list list-reset">
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="1">Сергей Денисов</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="2">Матвей Мечников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="3">Константин Прусино</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="4">Иван Калитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="5">Евгений Войновский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn accordion__content-btn--active" data-path="6">Ольга Мартынова</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="7">Дмитрий Михалюк</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="8">Пётр Пиотровский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="9">Олег Свиридовский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="10">Владислав Кауперс</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="11">Михаил Пожитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="12">Георгий Полуян</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="13">Денис Тельман</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="14">Юрий Горин</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="15">Максим Сергеев</button>
              </li>
            </ul>
          </div>
        </details>
        <details class="accordion">
          <summary class="btn-reset accordion__control">
            <span class="accordion__title">Филологи</span>
            <span class="accordion__button">
              <svg class="accordion__icon">
                <use xlink:href="img/sprite.svg#accordion-arrow"></use>
              </svg>
            </span>
          </summary>
          <div class="accordion__content accordion__content-border">
            <ul class="accordion__content-list list-reset">
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="1">Сергей Денисов</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="2">Матвей Мечников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="3">Константин Прусино</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="4">Иван Калитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="5">Евгений Войновский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn accordion__content-btn--active" data-path="6">Ольга Мартынова</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="7">Дмитрий Михалюк</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="8">Пётр Пиотровский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="9">Олег Свиридовский</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="10">Владислав Кауперс</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="11">Михаил Пожитников</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="12">Георгий Полуян</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="13">Денис Тельман</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="14">Юрий Горин</button>
              </li>
              <li class="accordion__content-item">
                <button class="btn-reset accordion__content-btn" data-path="15">Максим Сергеев</button>
              </li>
            </ul>
          </div>
        </details>
      </div>
      <div class="guests__info">
        <div class="guest-content" data-target="1">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Сергей Денисов">
          </picture>
          <ul class="social list-reset" title="Соцсети Сергей Денисов">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Сергей Денисов в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Сергей Денисов в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Сергей Денисов в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Сергей Денисов</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="2">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Матвей Мечников">
          </picture>
          <ul class="social list-reset" title="Соцсети Матвей Мечников">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Матвей Мечников в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Матвей Мечников в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Матвей Мечников в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Матвей Мечников</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="3">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Константин Прусино">
          </picture>
          <ul class="social list-reset" title="Соцсети Константин Прусино">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Константин Прусино в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Константин Прусино в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Константин Прусино в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Константин Прусино</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="4">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Иван Калитников">
          </picture>
          <ul class="social list-reset" title="Соцсети Иван Калитников">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Иван Калитников в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Иван Калитников в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Иван Калитников в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Иван Калитников</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="5">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Евгений Войновский">
          </picture>
          <ul class="social list-reset" title="Соцсети Евгений Войновский">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Евгений Войновский в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Евгений Войновский в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Евгений Войновский в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Евгений Войновский</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content guest-content--active" data-target="6">
          <picture>
            <source media="(max-width: 576px)" srcset="img/guest-6-320.jpg">
            <source media="(max-width: 920px)" srcset="img/guest-6-768.jpg">
            <source srcset="img/guest-6.webp" type="image/webp">
            <img loading="lazy" src="img/guest-6.jpg" class="guest-content__image" width="350" height="220" alt="Фото Ольга Мартынова">
          </picture>
          <ul class="social list-reset" title="Соцсети Ольга Мартынова">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Ольга Мартынова в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Ольга Мартынова в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Ольга Мартынова в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Ольга Мартынова</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link btn-entrance btn-entrance-black">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="7">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Дмитрий Михалок">
          </picture>
          <ul class="social list-reset" title="Соцсети Дмитрий Михалок">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Дмитрий Михалок в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Дмитрий Михалок в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Дмитрий Михалок в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Дмитрий Михалок</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="8">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Пётр Пиотровский">
          </picture>
          <ul class="social list-reset" title="Соцсети Пётр Пиотровский">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Пётр Пиотровский в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Пётр Пиотровский в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Пётр Пиотровский в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Пётр Пиотровский</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="9">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Олег Свиридовский">
          </picture>
          <ul class="social list-reset" title="Соцсети Олег Свиридовский">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Олег Свиридовский в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Олег Свиридовский в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Олег Свиридовский в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Олег Свиридовский</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="10">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Владислав Кауперс">
          </picture>
          <ul class="social list-reset" title="Соцсети Владислав Кауперс">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Владислав Кауперс в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Владислав Кауперс в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Владислав Кауперс в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Владислав Кауперс</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="11">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Михаил Пожитников">
          </picture>
          <ul class="social list-reset" title="Соцсети Михаил Пожитников">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Михаил Пожитников в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Михаил Пожитников в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Михаил Пожитников в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Михаил Пожитников</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="12">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Георгий Полуян">
          </picture>
          <ul class="social list-reset" title="Соцсети Георгий Полуян">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Георгий Полуян в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Георгий Полуян в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Георгий Полуян в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Георгий Полуян</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="13">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Денис Тельман">
          </picture>
          <ul class="social list-reset" title="Соцсети Денис Тельман">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Денис Тельман в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Денис Тельман в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Денис Тельман в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Денис Тельман</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="14">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Юрий Горин">
          </picture>
          <ul class="social list-reset" title="Соцсети Юрий Горин">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Юрий Горин в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Юрий Горин в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Юрий Горин в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Юрий Горин</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
        <div class="guest-content" data-target="15">
          <picture>
            <source srcset="img/guest-none.webp" type="image/webp">
            <img loading="lazy" src="img/guest-none.jpg" class="guest-content__image" width="350" height="220" alt="Фото Максим Сергеев">
          </picture>
          <ul class="social list-reset" title="Соцсети Максим Сергеев">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--in" aria-label="Максим Сергеев в Инстаграмм">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Максим Сергеев в Фейсбук">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Максим Сергеев в Твиттер">
                <svg class="social__icon">
                  <use xlink:href="img/sprite.svg#tw"></use>
                </svg>
              </a>
            </li>
          </ul>
          <span class="guest-content__name">Максим Сергеев</span>
          <p class="guest-content__descr">
            Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии.
            Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
          </p>
          <a href="#" class="btn guest-content__link">Эфиры с гостем</a>
        </div>
      </div>
    </div>
  </div>
</section>
