<header class="header">
  <div class="header__top">
    <div class="header__top-container container">
      <a class="logo header__logo"><img src="img/logo.svg" alt="Логотип W-Wave radio"></a>
      <a href="#" class="btn-reset btn btn-entrance btn-entrance-320">Вход</a>
      <div class="header__top-info">
        <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
          <span class="burger__line"></span>
        </button>
        <nav class="menu" title="Главное меню" data-menu>
          <ul class="list-reset menu__list">
            <li class="menu__item"><a href="#" class="menu__link">Подкасты</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Передачи</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Гости</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Плейлисты</a></li>
            <li class="menu__item"><a href="#" class="menu__link">О нас</a></li>
          </ul>
        </nav>
        <div class="header__search">
          <div class="search">
            <form action="#" method="get" class="search__form">
              <button type="submit" class="btn-reset search__btn">
                <svg class="search__icon">
                  <use xlink:href="img/sprite.svg#search"></use>
                </svg>
              </button>
              <input type="search" class="input-reset search__input" placeholder="Поиск по сайту">
            </form>
          </div>
          <a href="#" class="btn-reset btn btn-entrance btn-entrance-desctop">Вход</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-container container">
      <nav class="menu menu-bottom" title="Меню">
        <ul class="list-reset menu__list menu-bottom-list">
          <li class="menu__item menu-bottom-item"><a href="#" class="menu__link menu-bottom-link">Блоги</a></li>
          <li class="menu__item menu-bottom-item"><a href="#" class="menu__link menu-bottom-link">Новости</a></li>
          <li class="menu__item menu-bottom-item"><a href="#" class="menu__link menu-bottom-link">Топы</a></li>
          <li class="menu__item menu-bottom-item"><a href="#" class="menu__link menu-bottom-link">Опросы</a></li>
          <li class="menu__item menu-bottom-item"><a href="#" class="menu__link menu-bottom-link">Рейтинги</a></li>
          <li class="menu__item menu-bottom-item"><a href="#" class="menu__link menu-bottom-link">Реклама</a></li>
        </ul>
      </nav>
      <div class="ether">
        <button class="btn-reset btn-play ether__btn">
          <svg class="btn-play__icon">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <div class="ether__info">
          <span class="ether__name">Ранее в эфире</span>
          <span class="ether__text">&#171;Музыка&#187;</span>
        </div>
      </div>
      <div class="ether ether-border">
        <button class="btn-reset btn-play ether__btn">
          <svg class="btn-play__icon">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <div class="ether__info">
          <span class="ether__name">Сейчас в эфире</span>
          <span class="ether__text">&#171;Как так?&#187;</span>
        </div>
      </div>
      <button class="btn-reset btn-play ether__btn ether__btn--tablet">
        <svg class="btn-play__icon">
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
        <span class="ether__btn-span">Что в эфире?</span>
      </button>
      <div class="age">
        <span class="age__count">12+</span>
      </div>
    </div>
  </div>
</header>
