<section class="podcasts">
  <div class="container podcasts__container">
    <h2 class="section-title podcasts__title">Подкасты</h2>
    <div class="podcasts__content">
      <ul class="list-reset podcasts__list">
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-1-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-1.jpg" class="podcast-card__image" alt="Европа">
              </picture>
              <span class="podcast-card__date">14 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">15:43</span>
                  <span class="podcast-card__name">Европа. XIX век</span>
                  <span class="podcast-card__autor">Дмитрий Гутенберг</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">258</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">104</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">68</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-2-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-2.jpg" class="podcast-card__image" alt="Музыка">
              </picture>
              <span class="podcast-card__date">11 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">5:32</span>
                  <span class="podcast-card__name">О музыке</span>
                  <span class="podcast-card__autor">Дмитрий Гутенберг</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">207</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">34</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">18</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-3-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-3.jpg" class="podcast-card__image" alt="Люди">
              </picture>
              <span class="podcast-card__date">8 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">8:54</span>
                  <span class="podcast-card__name">Люди сегодня</span>
                  <span class="podcast-card__autor">Анна Васильева</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">104</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">54</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">42</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-4-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-4.jpg" class="podcast-card__image" alt="Африка">
              </picture>
              <span class="podcast-card__date">5 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">9:04</span>
                  <span class="podcast-card__name">Хеллоу, Африка!</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">87</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">44</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">5</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-4-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-5.jpg" class="podcast-card__image" alt="Обо всем">
              </picture>
              <span class="podcast-card__date">2 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">7:03</span>
                  <span class="podcast-card__name">Обо всём</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">64</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">30</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">8</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-3-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-6.jpg" class="podcast-card__image" alt="Физика цвета">
              </picture>
              <span class="podcast-card__date">28 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">9:15</span>
                  <span class="podcast-card__name">Физика цвета</span>
                  <span class="podcast-card__autor">Татьяна Флеганова</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">58</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">29</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">14</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-2-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-7.jpg" class="podcast-card__image" alt="Источник звука">
              </picture>
              <span class="podcast-card__date">22 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">16:04</span>
                  <span class="podcast-card__name">Источник звука</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">55</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">20</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">12</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-1-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-8.jpg" class="podcast-card__image" alt="Правила этикета">
              </picture>
              <span class="podcast-card__date">18 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">6:55</span>
                  <span class="podcast-card__name">Правила этикета</span>
                  <span class="podcast-card__autor">Татьяна Флеганова</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">24</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">54</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">42</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-1-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-6.jpg" class="podcast-card__image" alt="Физика цвета">
              </picture>
              <span class="podcast-card__date">28 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">9:15</span>
                  <span class="podcast-card__name">Физика цвета</span>
                  <span class="podcast-card__autor">Татьяна Флеганова</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">58</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">29</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">14</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-2-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-5.jpg" class="podcast-card__image" alt="Обо всем">
              </picture>
              <span class="podcast-card__date">2 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">7:03</span>
                  <span class="podcast-card__name">Обо всём</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">64</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">30</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">8</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-3-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-4.jpg" class="podcast-card__image" alt="Африка">
              </picture>
              <span class="podcast-card__date">5 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">9:04</span>
                  <span class="podcast-card__name">Хеллоу, Африка!</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">87</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">44</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">5</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-4-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-3.jpg" class="podcast-card__image" alt="Люди сегодня">
              </picture>
              <span class="podcast-card__date">8 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">8:54</span>
                  <span class="podcast-card__name">Люди сегодня</span>
                  <span class="podcast-card__autor">Анна Васильева</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">104</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">54</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">42</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-4-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-2.jpg" class="podcast-card__image" alt="О музыке">
              </picture>
              <span class="podcast-card__date">11 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">5:32</span>
                  <span class="podcast-card__name">О музыке</span>
                  <span class="podcast-card__autor">Дмитрий Гутенберг</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">207</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">34</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">18</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-3-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-3.jpg" class="podcast-card__image" alt="Люди сегодня">
              </picture>
              <span class="podcast-card__date">8 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">8:54</span>
                  <span class="podcast-card__name">Люди сегодня</span>
                  <span class="podcast-card__autor">Анна Васильева</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">104</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">54</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">42</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-2-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-4.jpg" class="podcast-card__image" alt="Африка">
              </picture>
              <span class="podcast-card__date">5 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">9:04</span>
                  <span class="podcast-card__name">Хеллоу, Африка!</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">87</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">44</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">5</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-1-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-5.jpg" class="podcast-card__image" alt="Обо всем">
              </picture>
              <span class="podcast-card__date">2 июня</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">7:03</span>
                  <span class="podcast-card__name">Обо всём</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">64</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">30</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">8</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-2-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-6.jpg" class="podcast-card__image" alt="Физика цвета">
              </picture>
              <span class="podcast-card__date">28 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">9:15</span>
                  <span class="podcast-card__name">Физика цвета</span>
                  <span class="podcast-card__autor">Татьяна Флеганова</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">58</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">29</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">14</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-3-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-7.jpg" class="podcast-card__image" alt="Источник звука">
              </picture>
              <span class="podcast-card__date">22 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">16:04</span>
                  <span class="podcast-card__name">Источник звука</span>
                  <span class="podcast-card__autor">Пётр Дмитриевский</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">55</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">20</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">12</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
        <li class="podcasts__item">
          <article class="podcast-card">
            <div class="podcast-card__foto">
              <picture class="podcast-card__picture">
                <source media="(max-width: 576px)" srcset="./img/podcast-card-img-4-320.jpg">
                <img loading="lazy" src="./img/podcast-card-img-8.jpg" class="podcast-card__image" alt="Правила этикета">
              </picture>
              <span class="podcast-card__date">18 мая</span>
            </div>
            <div class="podcast-card__content">
              <div class="podcast-card__info">
                <div class="podcast-card__text">
                  <span class="podcast-card__time">6:55</span>
                  <span class="podcast-card__name">Правила этикета</span>
                  <span class="podcast-card__autor">Татьяна Флеганова</span>
                </div>
                <button class="btn-reset podcast-card__btn">
                  <svg class="podcast-card__btn-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                    <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
                  </svg>
                </button>
              </div>
              <ul class="list-reset podcast-card__actions actions">
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-play"></use>
                    </svg>
                    <span class="actions__count actions__count-play">24</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-like"></use>
                    </svg>
                    <span class="actions__count actions__count-like">54</span>
                  </button>
                </li>
                <li class="actions__item">
                   <button class="btn-reset actions__btn">
                    <svg class="actions__icon">
                      <use xlink:href="img/sprite.svg#actions-download"></use>
                    </svg>
                    <span class="actions__count actions__count-download">42</span>
                  </button>
                </li>
              </ul>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="podcasts__btn">
      <button class="btn-reset podcasts__btn-content">Ещё подкасты</button>
    </div>
  </div>
</section>
