<section class="shows">
  <div class="container shows__container">
    <div class="shows__autor">
      <h2 class="section-title shows__title">Передачи</h2>
      <span class="shows__autor-name">Автор:</span>
      <div class="select shows__autor-select">
        <select name="Автор" class="shows-select">
          <option value="Дмитрий Гутенберг">Дмитрий Гутенберг</option>
          <option value="Татьяна Флеганова">Татьяна Флеганова</option>
          <option value="Анна Васильева">Анна Васильева</option>
          <option value="Пётр Дмитриевский">Пётр Дмитриевский</option>
        </select>
      </div>
    </div>
    <ul class="list-reset shows__list">
      <li class="shows__item">
        <article class="show-card">
          <picture>
            <source srcset="img/show-card-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/show-card-image-1.jpg" class="show-card__image" width="255" height="148" alt="О людях и книгах">
          </picture>
          <div class="show-card__content">
            <span class="show-card__name">О людях и книгах</span>
            <span class="show-card__note">Анонсируется отдельно</span>
            <a href="#" class="show-card__link">
              Подробнее
              <svg class="show-card__icon">
                <use xlink:href="img/sprite.svg#show-card-arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="shows__item">
        <article class="show-card">
          <picture>
            <source srcset="img/show-card-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/show-card-image-2.jpg" class="show-card__image" width="255" height="148" alt="Графомания td.">
          </picture>
          <div class="show-card__content">
            <span class="show-card__name">Графомания td.</span>
            <span class="show-card__note">По понедельникам в 10:00</span>
            <a href="#" class="show-card__link">
              Подробнее
              <svg class="show-card__icon">
                <use xlink:href="img/sprite.svg#show-card-arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="shows__item">
        <article class="show-card">
          <picture>
            <source srcset="img/show-card-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/show-card-image-3.jpg" class="show-card__image" width="255" height="148" alt="Не Рим, не Троя">
          </picture>
          <div class="show-card__content">
            <span class="show-card__name">Не Рим, не Троя</span>
            <span class="show-card__note">По вторникам в 12:00</span>
            <a href="#" class="show-card__link">
              Подробнее
              <svg class="show-card__icon">
                <use xlink:href="img/sprite.svg#show-card-arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="shows__item">
        <article class="show-card">
          <picture>
            <source srcset="img/show-card-image-4.webp" type="image/webp">
            <img loading="lazy" src="img/show-card-image-4.jpg" class="show-card__image" width="255" height="148" alt="Эрудит">
          </picture>
          <div class="show-card__content">
            <span class="show-card__name">Эрудит</span>
            <span class="show-card__note">По пятницам в 17:00</span>
            <a href="#" class="show-card__link">
              Подробнее
              <svg class="show-card__icon">
                <use xlink:href="img/sprite.svg#show-card-arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="shows__item">
        <article class="show-card">
          <picture>
            <source srcset="img/show-card-image-5.webp" type="image/webp">
            <img loading="lazy" src="img/show-card-image-5.jpg" class="show-card__image" width="255" height="148" alt="Тонкости эпох">
          </picture>
          <div class="show-card__content">
            <span class="show-card__name">Тонкости эпох</span>
            <span class="show-card__note">По субботам в 10:00</span>
            <a href="#" class="show-card__link">
              Подробнее
              <svg class="show-card__icon">
                <use xlink:href="img/sprite.svg#show-card-arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="shows__item">
        <article class="show-card">
          <picture>
            <source srcset="img/show-card-image-6.webp" type="image/webp">
            <img loading="lazy" src="img/show-card-image-6.jpg" class="show-card__image" width="255" height="148" alt="Живые мысли">
          </picture>
          <div class="show-card__content">
            <span class="show-card__name">Живые мысли</span>
            <span class="show-card__note">По воскресеньям в 15:30</span>
            <a href="#" class="show-card__link">
              Подробнее
              <svg class="show-card__icon">
                <use xlink:href="img/sprite.svg#show-card-arrow"></use>
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
    <div class="shows__archive">
      <picture class="shows__archive-picture">
        <source srcset="img/archive-image.webp" type="image/webp">
        <img loading="lazy" src="img/archive-image.png" class="shows__archive-image" width="77" height="105" alt="Микрофон">
      </picture>
      <div class="shows__archive-info">
        <a href="#" class="btn shows__archive-link btn-entrance">
          <svg class="shows__archive-icon">
            <use xlink:href="img/sprite.svg#archive"></use>
          </svg>
          Архив
        </a>
        <p class="shows__archive-descr">
          В архив попадают все передачи, которые вы пропустили! <span>Enjoy :)</span>
        </p>
      </div>
    </div>
  </div>
</section>
