<section class="wave">
  <div class="container wave__container">
    <div class="wave__picture">
      <picture>
        <source srcset="img/wave-image-768.webp" type="image/webp">
        <source srcset="img/wave-image.webp" type="image/webp">
        <img loading="lazy" src="img/wave-image.png" class="image" width="640" height="562" alt="wave-image">
      </picture>
    </div>
    <div class="wave__content">
      <h2 class="section-title wave__title">Будь с нами на одной волне!</h2>
      <span class="wave__content-line"></span>
      <p class="wave__content-descr">
        Друзья, рады представить вам продукт нашего производства!
        Да-да, несмотря на то, что мы только начали свой путь радиовещателей, нам хочется, чтобы вы могли как следует нас расслышать :)
      </p>
      <p class="wave__content-descr wave__content-descr--margin">
        Итак, встречайте! Портативный радиоприёмник-колонка <a href="#" class="wave__content-link">W-Wave 1.0 xm.</a> Тщательный подбор всех делатей, ручная сборка, качественный звук.
        Пока доступно только 60 штук в 3 цветах, но мы активно трудимся над новыми партиями и дизайном. Спешите приобрести!
      </p>
      <span class="wave__content-price">2800 руб</span>
      <a href="#" class="wave__content-btn btn btn-entrance btn-entrance-yellow">
        <span>
          <svg class="wave__content-icon">
            <use xlink:href="img/sprite.svg#yandex"></use>
          </svg>
        </span>
        Купить на Яндекс.Маркет
      </a>
    </div>
  </div>
</section>
